/* General Styles */
html,
body {
  min-height: 100vh !important;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #007bff;
}

.username {
  text-align: center;
}

/* Parallax Background Effect */
.parallax-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background5small.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  z-index: -1;
}

/* Text Styles */
h1,
h2 {
  color: #2c3e50;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  margin-top: 20px;
}

p {
  line-height: 1.6;
}

.blog-text,
.comments-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
}

.comment-username,
.post-username {
  font-weight: bold;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  margin-top: auto !important;
}

/* Form Styles */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.filter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 5px;
}
.filter-form select {
  margin: 1rem;
  font-size: 1.8rem;
}

.filter-form button {
  margin: 1rem;
  font-size: 1.65rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Posts Styles */
.posts-wrapper > ul,
.comments-wrapper ul {
  list-style-type: none !important;
  padding: 0;
}

.blog-posts {
  list-style: none;
  padding: 0;
}

.blog-post {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  transition: transform 0.3s, background-color 0.3s;
}

.comment-container {
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 5px;
  margin-bottom: 4px;
  position: relative;
}

.comment-content {
  margin: 0;
  padding-left: 1rem;
}

/* Style .delete-comment link as a button */
.delete-comment {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.delete-post {
  display: inline-block;
  padding: 2px 8px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit-post {
  display: inline-block;
  padding: 2px 8px;
  color: #fff;
  background-color: #3ce767;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-comment:hover {
  background-color: #c0392b;
}
.content {
  background-image: url("../img/leaves_tiles.jpg");
  background-repeat: repeat;
  background-size: 100px;
  position: relative;
  min-height: 90vh;
  z-index: 1;
  padding-top: 60px;
  background-color: whitesmoke;
  flex: 1;
  max-width: 90%;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}

/* Navbar Styles */
nav {
  background-color: #333;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styles */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* Hamburger Button Styles */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  height: 3px;
  width: 30px;
  background-color: white;
  color: #333; /* Color of the bars */
  margin: 4px 0;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  background-color: #333;
  display: flex;
  margin: 0;
  padding: 1rem;
  z-index: 100;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem; /* Adjust font size */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff; /* Color on hover */
}
.nav-links a.active {
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 0px 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  .post-username {
    font-size: 1.5rem;
  }
  p.post-content {
    font-size: 1.5rem;
  }
  .filter-form {
    flex-direction: column;
  }
  .filter-form button,
  .filter-form select {
    width: 100%;
  }
  .input-form input,
  .input-form textarea {
    width: 100%;
    font-size: 2rem;
    padding: 0;
  }
  .input-form label,
  .input-form select {
    font-size: 2rem;
  }
  .input-form button {
    margin-top: 5px;
    font-size: 3rem;
    width: 100%;
  }
  .input-form .error-message {
    font-size: 2rem;
  }
  .nav-links a,
  .logo {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  p.post-content {
    font-size: 2rem;
  }

  .nav-links {
    display: none; /* Hide links by default */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 60px; /* Position below the navbar */
    right: 0;
    width: 100%; /* Full width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  .nav-links > li > a {
    margin: 1rem;
  }

  .nav-links.active {
    display: flex; /* Show links when active */
  }

  .hamburger {
    display: flex; /* Show hamburger on smaller screens */
  }
  .content form input {
    width: 60vw;
  }
}

@media (max-width: 480px) {
  .content {
    width: 80%;
  }
  .filter-form a {
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  p.post-content {
    font-size: 1rem;
  }
  .filter-form {
    font-size: 5rem !important;
  }

  .content form input {
    width: 100%;
  }
}
